<footer class="site-footer">
  <div class="site-footer__container">
    <div class="row gy-4">
      <div class="col-12 col-md-5">
        <p class="site-footer__brand">
          <i class="fas fa-hammer" aria-hidden="true"></i>
          Jornadas de Artesania
        </p>
        <p class="site-footer__text">
          Tres dias dedicados al oficio, la creatividad y el saber transmitido de generacion en generacion. Organizadas con la colaboracion del Ayuntamiento.
        </p>
        <ul class="site-footer__social">
          <li>
            <a href="#" class="site-footer__social-link" aria-label="Facebook">
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="site-footer__social-link" aria-label="Instagram">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="site-footer__social-link" aria-label="YouTube">
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h4 class="site-footer__heading">Enlaces</h4>
        <ul class="site-footer__list">
          <li><a href="./index.html">Portada</a></li>
          <li><a href="./ponentes.html">Ponentes</a></li>
          <li><a href="./articulo.html">El oficio</a></li>
          <li><a href="./contacto.html">Inscripcion</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-4">
        <h4 class="site-footer__heading">Contacto</h4>
        <ul class="site-footer__list">
          <li><i class="fas fa-map-marker-alt me-1" aria-hidden="true"></i> Casa de Cultura, plaza Mayor</li>
          <li><i class="fas fa-envelope me-1" aria-hidden="true"></i> info@jornadas-artesania.org</li>
          <li><i class="fas fa-phone me-1" aria-hidden="true"></i> 900 100 100</li>
        </ul>
      </div>
    </div>
    <hr class="site-footer__divider" />
    <div class="site-footer__bottom">
      <p class="m-0">&copy; 2026 Jornadas de Artesania. Proyecto academico UOC.</p>
      <p class="m-0">Disenado por Federico Javier Martino</p>
    </div>
  </div>
</footer>
