<header class="site-header">
  <nav class="navbar navbar-expand-lg" aria-label="Navegacion principal">
    <div class="container">
      <a href="./index.html" class="site-header__brand navbar-brand">
        <i class="fas fa-hammer" aria-hidden="true"></i>
        Jornadas de Artesania
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main-nav"
        aria-controls="main-nav"
        aria-expanded="false"
        aria-label="Mostrar la navegacion"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="./index.html" class="site-header__link nav-link">Portada</a>
          </li>
          <li class="nav-item">
            <a href="./ponentes.html" class="site-header__link nav-link">Ponentes</a>
          </li>
          <li class="nav-item">
            <a href="./articulo.html" class="site-header__link nav-link">El oficio</a>
          </li>
          <li class="nav-item">
            <a href="./contacto.html" class="site-header__link nav-link">Inscripcion</a>
          </li>
        </ul>
        <a href="./contacto.html" class="btn btn-primary site-header__cta">
          <i class="fas fa-ticket-alt me-1" aria-hidden="true"></i>
          Reservar plaza
        </a>
      </div>
    </div>
  </nav>
</header>
